
.vs/IFT3100H24-PLAN_B/FileContentIndex/0b1205ac-153e-4a06-bed8-65c0dca43b5b.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/378237f1-e4c6-48b9-a86f-275485e6af5b.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/63644fcf-ff6a-48a9-8abb-5a1074351451.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/75731fe4-ec69-49bd-85fd-239057f39b74.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/7e3df92e-73e5-4117-bc9e-b65c21633242.vsidx
.vs/IFT3100H24-PLAN_B/v17/.suo
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db
.vs/IFT3100H24-PLAN_B/v17/fileList.bin
.vs/IFT3100H24-PLAN_B/v17/HierarchyCache.v1.txt
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/1749cc569a7e389c/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/1d02ad3bc2fa4017/OFEASYCAM.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/24ddd79d4a9c9b7f/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/2682021519d588ff/OFAPPGLFWWINDOW.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/2c06587c3737505a/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/2deeec40cc2881c4/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/2f9ad9bff9736c52/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/3c1d036e68e2e8f3/OFXASSIMPMESHHELPER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/44c47659ba4dd0c9/APPLICATION.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/4ebd4b6035cafd4a/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/58d293b2c4151f66/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/5a539478e595e211/OFXBASEGUI.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/619743d629144bab/OFXGUIGROUP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/61f5772915c878e/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/63b38e48627d3bc2/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/77edcfa7c0737c96/MAIN.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/8bda5d23fc89f14d/OFXSLIDERGROUP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/8dd0b22fceaa99dd/OF3DPRIMITIVES.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/95e63bea8b6d74fe/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/a444735639ef74cb/OBJLOADER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/a64492a85d47514a/OFAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/a93acc953d1b483f/OFTIMER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/b995c12d92bdbf03/SCENE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/b9f2df76eec53622/OFXASSIMPMODELLOADER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/bc3d5f4541dcbcaf/OFXPANEL.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/d39325217064dcd6/OBJNODE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/d6b64bf60ba21c20/CIRCLE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/de61a4fc78e6df10/OBJECT.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/e268f7f29195a0fc/OFNODE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/e50a80f83a05f28/OFBASEAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/f14e1a2c466711bd/OFMAINLOOP.ipch
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db
bin/fmod.dll
bin/fmodL.dll
bin/FreeImage.dll
bin/IFT3100H24-PLAN_B_debug.exe
bin/IFT3100H24-PLAN_B_debug.pdb
bin/data/settings.xml
.vs/IFT3100H24-PLAN_B/FileContentIndex/c2e51073-e450-49ec-8cf8-e0b2a99251cf.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/c4df7f09-9c77-423b-a606-e0ca1509ed3b.vsidx
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db-shm
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db-wal
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.opendb
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/eef871ff31285125/OBJLOADER.ipch
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db-shm
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db-wal
addons.make
config.make
icon.rc
IFT3100H24-PLAN_B.sln
IFT3100H24-PLAN_B.vcxproj
IFT3100H24-PLAN_B.vcxproj.filters
IFT3100H24-PLAN_B.vcxproj.user
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpAnimation.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpMeshHelper.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpModelLoader.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpTexture.obj
obj/x64/addons/ofxGui/src/Debug/ofxBaseGui.obj
obj/x64/addons/ofxGui/src/Debug/ofxButton.obj
obj/x64/addons/ofxGui/src/Debug/ofxColorPicker.obj
obj/x64/addons/ofxGui/src/Debug/ofxGuiGroup.obj
obj/x64/addons/ofxGui/src/Debug/ofxInputField.obj
obj/x64/addons/ofxGui/src/Debug/ofxLabel.obj
obj/x64/addons/ofxGui/src/Debug/ofxPanel.obj
obj/x64/addons/ofxGui/src/Debug/ofxSlider.obj
obj/x64/addons/ofxGui/src/Debug/ofxSliderGroup.obj
obj/x64/addons/ofxGui/src/Debug/ofxToggle.obj
obj/x64/Debug/Build/src/Debug/Application.obj
obj/x64/Debug/Build/src/Debug/Camera.obj
obj/x64/Debug/Build/src/Debug/ClickTexture.obj
obj/x64/Debug/Build/src/Debug/main.obj
obj/x64/Debug/Build/src/Debug/Mesh.obj
obj/x64/Debug/Build/src/Debug/Object.obj
obj/x64/Debug/Build/src/Debug/OBJLoader.obj
obj/x64/Debug/Build/src/Debug/ObjNode.obj
obj/x64/Debug/Build/src/Debug/Renderer.obj
obj/x64/Debug/Build/src/Debug/Scene.obj
obj/x64/Debug/Build/src/Debug/UI.obj
obj/x64/Debug/icon.res
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.10432.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/Cl.items.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/IFT3100H24-PLAN_B.lastbuildstate
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.write.1.tlog
obj/x64/Debug/IFT3100H24-PLAN_B.log
obj/x64/Debug/IFT3100H24-PLAN_B_debug.exe.recipe
obj/x64/Debug/vc143.pdb
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.write.1.tlog
bin/data/ScreenGrab_2.png
bin/data/ScreenGrab_1.png
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/58f7dab7fae0a4a8/ELEMBUFFER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/26d8cf3d6bbd7719/VERTEXBUFFER.ipch
.vs/IFT3100H24-PLAN_B/FileContentIndex/f037f9f2-faad-4095-91de-65387cf127dc.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/9a1b3b6d-15c1-4583-b774-ad447f9b2015.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/41231a84-000b-431a-bfd6-8eed23cc296b.vsidx
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/f01d0be5cb25225e/MESH.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/db72d5bb90aac435/UI.ipch
.vs/IFT3100H24-PLAN_B/FileContentIndex/a4d9d7aa-a73a-4547-a06a-02cf0d89d947.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/828806fa-a16b-420c-a3a1-6694ca2bca3f.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/a950f6c4-0a36-4e4a-bcae-c1484cdeeeae.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/53dd13e2-b0e4-41dd-85f8-540167786695.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/54bc9a52-15f9-46fa-a21b-969dd698ae3a.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/6b40ae97-b0d8-4ef0-8c47-9249aaa063b9.vsidx
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/561a6ad32e05ff4b/OFEVENTS.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/b1a52e9f19229519/VCTMP17572_665842.SCENE.00000000.ipch
