
.vs/IFT3100H24-PLAN_B/FileContentIndex/402faaeb-c377-4e1d-95c3-9ad5df5481d3.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/4695d149-1709-4730-8ead-45b40ef46eeb.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/d8526230-5544-49be-9f2b-5120fe83ea6a.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/f156525f-4386-493b-b964-5ab4602349a6.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/feb09568-43f7-4d72-89dd-a5bef2b29264.vsidx
.vs/IFT3100H24-PLAN_B/v17/.suo
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db-shm
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db-wal
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.opendb
.vs/IFT3100H24-PLAN_B/v17/fileList.bin
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/2263e349337347e6/OBJECTNODE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/25686c6a5da7c4d0/APPLICATION.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/263434aae2433793/APPLICATION.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/268f525e300dbe69/OFXBUTTON.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/44c47659ba4dd0c9/APPLICATION.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/52ead84faae8c988/CAMERA.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/5ec0ad1a55203c5a/CLICKTEXTURE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/6ac80caaa47a7eba/RENDERER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/7298db996112b104/OFXCOLORPICKER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/74eb6e19c75ca5d8/MESH.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/77edcfa7c0737c96/MAIN.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/8dd0b22fceaa99dd/OF3DPRIMITIVES.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/a6e8ca08f6de030/RENDERER.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/b995c12d92bdbf03/SCENE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/ba03d9d39ddab72/APPLICATION.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/d39325217064dcd6/OBJNODE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/d75977ddfeec37d3/APPLICATION.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/db72d5bb90aac435/UI.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/de61a4fc78e6df10/OBJECT.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/f01d0be5cb25225e/MESH.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/f603f265226a980b/MAIN.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/f68d75b4ab9b0a34/OFXSLIDER.ipch
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db-shm
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db-wal
addons.make
bin/fmod.dll
bin/fmodL.dll
bin/FreeImage.dll
bin/IFT3100H24-PLAN_B_debug.exe
bin/IFT3100H24-PLAN_B_debug.pdb
config.make
icon.rc
IFT3100H24-PLAN_B.sln
IFT3100H24-PLAN_B.vcxproj
IFT3100H24-PLAN_B.vcxproj.filters
IFT3100H24-PLAN_B.vcxproj.user
.vs/IFT3100H24-PLAN_B/FileContentIndex/1d17cb94-67f6-4a90-9813-0644f3937700.vsidx
obj/x64/Debug/Build/src/Debug/Application.obj
obj/x64/Debug/Build/src/Debug/Camera.obj
obj/x64/Debug/Build/src/Debug/ClickTexture.obj
obj/x64/Debug/Build/src/Debug/main.obj
obj/x64/Debug/Build/src/Debug/Mesh.obj
obj/x64/Debug/Build/src/Debug/Object.obj
obj/x64/Debug/Build/src/Debug/ObjectNode.obj
obj/x64/Debug/Build/src/Debug/ObjNode.obj
obj/x64/Debug/Build/src/Debug/Renderer.obj
obj/x64/Debug/Build/src/Debug/Scene.obj
obj/x64/Debug/Build/src/Debug/UI.obj
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.19236.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.19236.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.6976.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.6976.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/IFT3100H24-PLAN_B.lastbuildstate
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/unsuccessfulbuild
obj/x64/Debug/IFT3100H24-PLAN_B.log
obj/x64/Debug/vc143.pdb
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpAnimation.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpMeshHelper.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpModelLoader.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpTexture.obj
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.15516.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.read.1.tlog
obj/x64/addons/ofxGui/src/Debug/ofxBaseGui.obj
obj/x64/addons/ofxGui/src/Debug/ofxButton.obj
obj/x64/addons/ofxGui/src/Debug/ofxColorPicker.obj
obj/x64/addons/ofxGui/src/Debug/ofxGuiGroup.obj
obj/x64/addons/ofxGui/src/Debug/ofxInputField.obj
obj/x64/addons/ofxGui/src/Debug/ofxLabel.obj
obj/x64/addons/ofxGui/src/Debug/ofxPanel.obj
obj/x64/addons/ofxGui/src/Debug/ofxSlider.obj
obj/x64/addons/ofxGui/src/Debug/ofxSliderGroup.obj
obj/x64/addons/ofxGui/src/Debug/ofxToggle.obj
obj/x64/Debug/icon.res
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.12136.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/Cl.items.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.write.1.tlog
obj/x64/Debug/IFT3100H24-PLAN_B_debug.exe.recipe
.vs/IFT3100H24-PLAN_B/FileContentIndex/a2f7bab6-f54b-4010-a87f-8e24e63ff0bf.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/d1e888c3-b965-4fba-820d-76c2edba2fc0.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/570c66e8-9c4b-49c6-bc0d-ddfdcf8d5696.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/4ec6656b-3952-4bbb-ae73-59777768e5cc.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/bb80d70a-3a52-4704-92c6-8d81e3475ce8.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/e8c3b717-3ebb-4562-9c1b-98f6fe1694fd.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/ef1f6a76-e6c7-4102-ad00-cfecaa656754.vsidx
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/6c0f09df4cc1a9f4/CLICKTEXTURE.ipch
*.vsidx
*.tlog
