
IFT3100H24-PLAN_B.vcxproj.user
IFT3100H24-PLAN_B.vcxproj.filters
IFT3100H24-PLAN_B.vcxproj
IFT3100H24-PLAN_B.sln
icon.rc
config.make
addons.make
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db-wal
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db-shm
.vs/IFT3100H24-PLAN_B/v17/Solution.VC.db
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.opendb
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db-wal
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db-shm
.vs/IFT3100H24-PLAN_B/v17/Browse.VC.db
.vs/IFT3100H24-PLAN_B/FileContentIndex/fca36f00-6444-4c7d-bb6c-56fee8f66fb7.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/b93eb0df-4788-4fd4-abfb-ac148846d47b.vsidx
.vs/IFT3100H24-PLAN_B/v17/.suo
bin/fmod.dll
bin/fmodL.dll
bin/FreeImage.dll
bin/IFT3100H24-PLAN_B_debug.exe
bin/IFT3100H24-PLAN_B_debug.pdb
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpAnimation.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpMeshHelper.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpModelLoader.obj
obj/x64/addons/ofxAssimpModelLoader/src/Debug/ofxAssimpTexture.obj
obj/x64/addons/ofxGui/src/Debug/ofxBaseGui.obj
obj/x64/addons/ofxGui/src/Debug/ofxButton.obj
obj/x64/addons/ofxGui/src/Debug/ofxColorPicker.obj
obj/x64/addons/ofxGui/src/Debug/ofxGuiGroup.obj
obj/x64/addons/ofxGui/src/Debug/ofxInputField.obj
obj/x64/addons/ofxGui/src/Debug/ofxLabel.obj
obj/x64/addons/ofxGui/src/Debug/ofxPanel.obj
obj/x64/addons/ofxGui/src/Debug/ofxSlider.obj
obj/x64/addons/ofxGui/src/Debug/ofxSliderGroup.obj
obj/x64/addons/ofxGui/src/Debug/ofxToggle.obj
obj/x64/Debug/Build/src/Debug/Application.obj
obj/x64/Debug/Build/src/Debug/Camera.obj
obj/x64/Debug/Build/src/Debug/main.obj
obj/x64/Debug/Build/src/Debug/Object.obj
obj/x64/Debug/Build/src/Debug/Renderer.obj
obj/x64/Debug/Build/src/Debug/Scene.obj
obj/x64/Debug/Build/src/Debug/UI.obj
obj/x64/Debug/icon.res
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.11128.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/Cl.items.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/IFT3100H24-PLAN_B.lastbuildstate
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/link.write.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.command.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.read.1.tlog
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/rc.write.1.tlog
obj/x64/Debug/IFT3100H24-PLAN_B.log
obj/x64/Debug/IFT3100H24-PLAN_B_debug.exe.recipe
obj/x64/Debug/vc143.pdb
.vs/IFT3100H24_planB/v16/.suo
.vs/IFT3100H24_planB/v16/Browse.VC.db
.vs/IFT3100H24_planB/v16/Browse.VC.db-shm
.vs/IFT3100H24_planB/v16/Browse.VC.db-wal
.vs/IFT3100H24_planB/v16/Browse.VC.opendb
.vs/IFT3100H24_planB/v16/ipch/AutoPCH/22b6d93a4f66e458/APPLICATION.ipch
.vs/IFT3100H24_planB/v16/ipch/AutoPCH/2fbe6f9dc6d21d91/MAIN.ipch
.vs/IFT3100H24_planB/v16/ipch/AutoPCH/77f515dff56affad/OF3DPRIMITIVES.ipch
.vs/IFT3100H24_planB/v16/Solution.VC.db
.vs/IFT3100H24_planB/v16/Solution.VC.db-shm
.vs/IFT3100H24_planB/v16/Solution.VC.db-wal
bin/IFT3100H24_planB_debug.exe
bin/IFT3100H24_planB_debug.pdb
IFT3100H24_planB.sln
IFT3100H24_planB.vcxproj
IFT3100H24_planB.vcxproj.filters
IFT3100H24_planB.vcxproj.user
obj/x64/Debug/IFT3100H24_planB.log
obj/x64/Debug/IFT3100H24_planB.tlog/CL.11680.write.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/CL.command.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/CL.read.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/IFT3100H24_planB.lastbuildstate
obj/x64/Debug/IFT3100H24_planB.tlog/link.command.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/link.read.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/link.write.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/rc.command.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/rc.read.1.tlog
obj/x64/Debug/IFT3100H24_planB.tlog/rc.write.1.tlog
obj/x64/Debug/IFT3100H24_planB_debug.exe.recipe
obj/x64/Debug/vc142.pdb
obj/x64/Debug/IFT3100H.7FD42DF7.tlog/CL.write.1.tlog
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/db72d5bb90aac435/UI.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/b995c12d92bdbf03/SCENE.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/8dd0b22fceaa99dd/OF3DPRIMITIVES.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/619743d629144bab/OFXGUIGROUP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/5a539478e595e211/OFXBASEGUI.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/52ead84faae8c988/CAMERA.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/44c47659ba4dd0c9/APPLICATION.ipch
.vs/IFT3100H24-PLAN_B/v17/fileList.bin
.vs/IFT3100H24-PLAN_B/FileContentIndex/431ab3dd-27d8-4342-9186-0ffb25cc74b9.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/a28a58bd-ae7b-411a-a530-13f157bf94d7.vsidx
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/77edcfa7c0737c96/MAIN.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/a6e8ca08f6de030/RENDERER.ipch
.vs/IFT3100H24-PLAN_B/FileContentIndex/943ad5d3-bd49-46ce-8181-785caa30de1a.vsidx
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/2682021519d588ff/OFAPPGLFWWINDOW.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/de61a4fc78e6df10/OBJECT.ipch
.vs/IFT3100H24-PLAN_B/FileContentIndex/c78bc1e8-6572-4a25-9f0d-10a0fe553f19.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/19992ecd-f593-4726-b9d7-33bddabe8111.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/aea629ba-a54f-4a74-8f7e-80c72ae47e69.vsidx
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/e50a80f83a05f28/OFBASEAPP.ipch
.vs/IFT3100H24-PLAN_B/v17/ipch/AutoPCH/f14e1a2c466711bd/OFMAINLOOP.ipch
/.vs/IFT3100H24_planB/v16/ipch/AutoPCH/9e9568385ce5a33/OFXBASEGUI.ipch
/.vs/IFT3100H24_planB/v16/ipch/AutoPCH/7d8629d923d1dbbe/SCENE.ipch
/.vs/IFT3100H24_planB/v16/ipch/AutoPCH/57aa2434b052a006/UI.ipch
/.vs/IFT3100H24_planB/v16/ipch/AutoPCH/415c693a45291143/CAMERA.ipch
/.vs/IFT3100H24_planB/v16/ipch/AutoPCH/3be6183edecbf017/OBJECT.ipch
/.vs/IFT3100H24_planB/v16/ipch/AutoPCH/32d544658cd78da3/RENDERER.ipch
/obj/x64/Debug/IFT3100H24_planB.tlog/CL.write.1.tlog
*.ipch
.vs/IFT3100H24-PLAN_B/FileContentIndex/773681ec-c284-4040-adba-523adec082a8.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/97b427ac-c361-4c8a-bcee-f36c7791cc62.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/db7213df-c5a3-4ee7-80f4-4d41849efc1b.vsidx
.vs/IFT3100H24-PLAN_B/v15/.suo
.vs/IFT3100H24-PLAN_B/v15/Browse.VC.db
.vs/IFT3100H24-PLAN_B/v15/Solution.VC.db
.vs/IFT3100H24-PLAN_B/FileContentIndex/f1d33b64-9d86-4b1f-94f4-d7ca8038ac0e.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/5f11ca29-1983-4549-ae1f-2473f32b0d17.vsidx
.vs/IFT3100H24-PLAN_B/FileContentIndex/9e44805a-d72e-4234-b4b6-cf6f113fbab9.vsidx
